.message-container {
  display: flex;
  position: relative;

  .message {
    box-sizing: border-box;
    max-width: 80%;
    min-width: 200px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #F5F7FA;
    border-radius: 12px 12px 12px 0;
    cursor: pointer;
    position: relative;

    .poll-content {
      width: 100%;
      min-width: 300px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      b {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        margin: 10px 0;
      }

      .answers, .vote-result {
        border-radius: 12px;
      }

      .answers {
        height: 56px;
        display: flex;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0 24px 48px rgba(230, 235, 245, 0.4);
        margin-bottom: 8px;
        position: relative;

        span {
          padding-left: 10px;
          z-index: 20;
          font-size: 16px;
          line-height: 24px;
        }

        .vote-result {
          height: 100%;
          background-color: #E5EAF5;
          position: absolute;
          z-index: 10;
        }
      }

      .voters-number {
        text-align: center;
        margin-bottom: 0;
      }
    }

    .flex-end {
      display: flex;
      justify-content: flex-end;
    }

    .message-content {
      word-wrap: break-word;
    }

    span {
      display: block;
      font-size: 14px;
      line-height: 24px;
    }

    .first-name {
      font-weight: bold;
    }

    .status {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .date-time {
        max-width: 100px;
        color: #747B82;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 190px;
      max-height: 256px;
      background-color: #fff;
      border: 2px solid #99B1E6;
      border-radius: 12px 12px 12px 0;
      position: absolute;
      bottom: 0;
      left: 0;
      list-style-type: none;
      margin: 0;
      padding: 0;
      z-index: 20;
      animation-duration: 300ms;
      animation-name: menu;

      @keyframes menu {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      li {
        padding: 14px 16px;
        border-bottom: 1px solid #E1E1E1;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }

      li:last-child {
        border-bottom: none;
      }

      &.menu-bottom-position {
        bottom: unset;
        top: 0;
        border-radius: 0 12px 12px 12px;
      }

      &.user-menu {
        right: 0;
        left: unset;
        border-radius: 12px 12px 0 12px
      }

      &.user-menu.menu-bottom-position {
        border-radius: 12px 0 12px 12px;
      }
    }
  }

  // .message:hover {
  //   opacity: 0.85;
  // }

  .join-message {
    border-radius: 12px;
    background-color: #f9efe3;
  }

  .user {
    background-color: rgba(29, 93, 235, 0.18);
    border-radius: 12px 12px 0 12px;
    margin-left: 50%;
  }
}

// .user-menu {
//   right: 0;
//   left: revert !important;
//   border-radius: 12px 12px 0 12px !important;
//   animation-duration: 300ms;
//   animation-name: userMenu;

//   @keyframes userMenu {
//     from {
//       opacity: 0;
//     }

//     to {
//       opacity: 1;
//     }
//   }

// }

lib-checkbox {
  position: absolute;
  left: -40px;
}

.unsent, img {
  max-width: 20px;
  margin-right: 5px;
}

.unsent {
  color: red;
}

.join-message span, .reply-message span {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}


.reply-message {
  display: flex;
  border-left: 2px solid #66727F;
  padding: 0 10px;
  margin: 8px 0 16px 0;
  border-radius: 1px;

  .reply-message-content {
    word-break: break-word;
    font-weight: 400;
  }
}

.join-message {

  .join-title {
    color: #747B82;
  }
}
