<div class="chats-list-container">

  <h1>Чаты</h1>

  <form *ngIf="formGroup && !chatsService.buildingId" [formGroup]="formGroup">

    <div class="house-filter flex-space-between" *ngIf="servicedHousesList">
      <lib-dropdown [items]="parseServicedHousesList"
                    [multi]="true"
                    [formControlName]="'servicedHousesList'">
      </lib-dropdown>

      <lib-button>Написать сообщение</lib-button>
    </div>

  </form>

  <arm-serviced-houses-list
    [servicedHousesList]="chatsList"
    (activeElementEmit)="openItem($event)">
  </arm-serviced-houses-list>

  <arm-spinner *ngIf="loading" class="spinner"></arm-spinner>

</div>
