.list-filter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  form {
    margin-bottom: 20px;

    lib-dropdown {
      min-width: 280px;
    }

    lib-lookup {
      min-width: 40%;
    }

    .house-filter {
      margin-bottom: 20px;

      lib-dropdown {
        min-width: calc(100% - 300px);
      }
    }
  }

}
