<div class="auxiliary-panel-container">

  <div class="panel-el">

    <div class="el-title">
      <img src="assets/img/megaphone.svg" alt=""/>
      <span>Объявления</span>
    </div>

    <div class="el-description">
      Создать новое
    </div>
  </div>

  <div class="panel-el">

    <div class="el-title">
      <span>Услуги</span>
    </div>

    <div class="el-description">
      Настроить создание услуг
    </div>
  </div>

  <div class="panel-el">

    <div class="el-title">
      <img src="assets/img/messenger.svg" alt=""/>
      <span>Чаты</span>
    </div>

    <div class="el-description">
      Написать
    </div>
  </div>
</div>
