/* You can add global styles to this file, and also import other style files */

.scroll-hidden::-webkit-scrollbar {
    width: 0;
}

.scroll-hidden {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 254, 254, 0) rgba(255, 255, 255, 0);
}